<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.mapper.NoticeMapper">

    <!-- 게시글 전체조회 -->
    <select id="getNoticeAllList" resultType="NoticeVO">
        SELECT id,
               title,
               writer,
               content,
               password,
               created_at,
               modified_at
        FROM notice
    </select>

    <!-- 게시글 상세조회 -->
    <select id="getNoticeList" parameterType="Long" resultType="NoticeVO">
        SELECT id,
               title,
               writer,
               content,
               password,
               created_at,
               modified_at
        FROM notice
        WHERE id=#{id}
    </select>

    <!-- 게시글 등록 -->
    <insert id="createNotice" parameterType="com.example.mybatis.model.NoticeVO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO notice(title, writer, content,password, created_at, modified_at)

        VALUES (
                #{title},
                #{writer},
                #{content},
                #{password},
                now(),
                now()
                )
    </insert>

    <!--게시글 수정-->
    <update id="modifyNotice" parameterType="com.example.mybatis.model.NoticeVO">

        UPDATE notice
        SET title=#{title},
            writer=#{writer},
            content=#{content},
            password=#{password},
            modified_at=now()
        WHERE
            id=#{id}
    </update>

    <!--게시글 삭제-->
    <delete id="deleteNotice" parameterType="Long">
        DELETE FROM notice
        WHERE id=#{id}
    </delete>

</mapper>
